//Logo image of Jessica Park (name)
img{
	max-width:100%;
	height:auto;
}
body {
	background-color:rgb(247,255,255);
	background-image:none;
	margin-left: 60px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 300px;
	color:rgb(74,74,74);
}
a:visited, a:link, a:active
{
    text-decoration: none;
    color:rgb(74,74,74);
}

ul{
	list-style-type: none;
}
#Name{
	font-family: arial, sans-serif;
	font-size:15pt;
}
.logo {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-style: none;
}
.navigation{
	font-family:arial,sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size:11px;
	margin-left:-40px;
	padding:0;
	width:100%;
}
.project{
    width:220px;
    height:230px;
    position:centered;

    font-family:arial,sans-serif;
    font-size:12px;
    font-weight:bold;
    background-color:none;
    text-align:center;
    display:inline-block;
}
.project{
    padding-top: 10px;
    padding-right:10px;
    padding-left:0px;
}
