//Logo image of Jessica Park (name)
img{
	max-width:100%;
	height:auto;
}
body {
	background-color:rgb(228,241,254);
	background-image:none;
	margin-left: 60px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 300px;
}
a:visited, a:link, a:active
{
    text-decoration: none;
}

ul{
	list-style-type: none;
}
#Name{
	font-family: arial, sans-serif;
	font-size:15pt;
}
.logo {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-style: none;
}
.navigation{
	font-family:arial,sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size:11px;
	margin:0;
	padding:0;
	float:center;
	top:1.3em;
}
#projects{
	width:100%;
}
.project{
	font-family:arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	display:inline-block;
	width:24%;
	background-color:none;
	text-align:center;
}
